---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Home from '../components/Home.astro';
import IconGit from '../components/icons/IconGit.astro';
import IconLinkedin from '../components/icons/IconLinkedin.astro';
import Badge from '../components/Badge.astro';
import Experience from '../components/Experience.astro';
import Aboutme from '../components/Aboutme.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex justify-center 
	inset-0 -z-10  items-start px-5 py-24 
	[background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]">
		<Header/>
		<div class="md:max-w-[900px] mx-6 py-3 md:py-36">
			<div class="w-full flex ">
				<Home/>
			</div>
			<div class="w-full mt-8 ">
				<Badge Icon={IconGit} title="GitHub" link='https://github.com/Didier321'/>
				<Badge Icon={IconLinkedin} title="Linkedin" link='https://www.linkedin.com/in/didier-casta%C3%B1eda-borja-741185274/'/>
			</div>
			<div class="w-full mt-28">
				<Experience/>
			</div>
			<div class="w-full mt-28">
				<Aboutme/>
			</div>
		</div>
			
	</main>
</Layout>

<style>
	
</style>
