<aboutme>
    <div>
        <h1 class="
        outfit text-3xl
        mb-16
        ">Acerca de mí</h1>
        <div class="">
            <img class="border-[5px] border-rose-300 rounded-lg
            max-w-80 mx-auto mb-20
            " src="../public/Foto.jpg" alt="Foto didier">
            <span class="outfit pt-11">Hola mi nombre es Didier Estiben Castañeda Borja tengo 21 años y Soy Tecnologo recien graduado de la carrera de Analisis y Desarrollo de software.
                Hacer 3 años tome la desicion de dedicarme a la programacion, a lo largo de mi proceso he tenido la oportunidad de trabajar en proyectos profesionales con
                tecnologias como java con Spring boot, SQL para bases de datos y Next.js, esto me ha permitido obtener experiencia con metodologias agiles como scrum y  mmanejo de 
                herramientas como jira, GitLab, etc.
                <br>
                Me motivan los retos y el aprendizaje constante. Disfruto aportar y desarrollar mis ideas para crear soluciones de valor, enfocándome en resolver 
                problemas de manera efectiva e innovadora. 
                
                

            </span>
        </div>
    </div>
</aboutme>