 
<aboutme>
    <div>
        <h1 class="
        outfit text-3xl
        mb-16
        ">Acerca de mí</h1>
        <div class="md:flex md:flex-row-reverse">
            <img 
            class="border-[5px] border-white/20 object-cover rounded-lg
            max-w-80 mx-auto mb-20
            " src="/Foto.jpg" alt="Foto didier">


            <span 
            class="outfit pt-11 
            md:text-xl 
            md:flex 
            md:justify-center 
            md:items-start
            md:pt-0 md:pr-11
            text-[#CCCCCC]
            leading-loose
            text-justify
            ">
            Hola, mi nombre es Didier Estiben Castañeda Borja, tengo 21 años y soy tecnólogo recién graduado de la carrera de Análisis y Desarrollo de Software.
            <br>
            Hace tres años tomé la decisión de dedicarme a la programación. A lo largo de mi proceso, he tenido la oportunidad de trabajar en proyectos profesionales con tecnologías como Java con Spring Boot, SQL para bases de datos y Next.js. 
            Esto me ha permitido obtener experiencia con metodologías ágiles como Scrum y el manejo de herramientas como Jira, GitLab, entre otras.
            <br>
            Me motivan los retos y el aprendizaje constante. Disfruto aportar y desarrollar mis ideas para crear soluciones de valor, enfocándome en resolver problemas de manera efectiva e innovadora.
            </span>
        </div>
    </div>
</aboutme>