<experience>

    <h1 class="outfit mb-10 text-3xl">Experincia Laboral</h1>
    <ol class="border-s border-gray-200 dark:border-gray-700">                  
        <li class="mb-10 ms-4">
            <time class="outfit  mb-1 text-sm font-normal leading-none text-white">
                Enero 2024 <span class="pl-2 pr-2"> - </span>  Julio 2024
            </time>
            <h3 class="outfiit text-lg font-semibold text-red-500 text-opacity-80">
                Full-Stack Developer
            </h3>
            <p class="mb-4 text-base outfit text-white">
                Desarrollador junior full Stack.
                mantinimiento, planificacion y desarrollo de soluciones para los software internos de la
                empresa Be bolder con Java, Spring boot, Next js.
            </p>
        </li>
    </ol>
</experience>