---
import IconSpring from '../components/icons/IconSpring.astro';
import IconJava from '../components/icons/IconJava.astro';
import IconPython from '../components/icons/IconPython.astro';
import IconDocker from '../components/icons/IconDocker.astro';
import IconMySql from '../components/icons/IconMySql.astro';
import IconGitHub from '../components/icons/IconGitHub.astro';
import IconGit from '../components/icons/IconGiit.astro';


const iconsHardSkills = [
  {
    name: "Docker",
    Icon: "IconDocker",
  },
  {
    name: "Java",
    Icon: "IconJava",
  },
  {
    name: "Spring",
    Icon: "IconSpring",
  },
  {
    name: "Python",
    Icon: "IconPython",
  },
  {
    name: "MySql",
    Icon: "IconMySql",
  },
  {
    name: "Git",
    Icon: "IconGit",
  },
  {
    name: "GitHub",
    Icon: "IconGitHub",
  },
];
---

<hardSkills>
  <h1 class=" outfit text-3xl mb-16">Skills</h1>
  <div class="flex flex-wrap justify-center gap-10">
    {iconsHardSkills.map((iconSkill) => {
      const IconComponent = iconSkill.Icon;
      return (
        <div id="card">
        <div id="icon">
        {IconComponent == "IconSpring"?<IconSpring/>:
        IconComponent == "IconJava"? <IconJava/>:
        IconComponent == "IconPython"? <IconPython/>:
        IconComponent == "IconDocker"? <IconDocker/>:
        IconComponent == "IconMySql"? <IconMySql/>:
        IconComponent == "IconGit"? <IconGit/>:
        IconComponent == "IconGitHub"? <IconGitHub/>:null
        }
        </div>
        <h1 class="text-center outfit mt-4 font-semibold text-2xl text-white">{iconSkill.name}</h1>
      </div>
      );
    })}
  </div>
</hardSkills>

<style>
    #icon{
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #card{
      padding: 10px;
      border-radius: 20px;
      border: solid 3px rgba(255, 255, 255, 0.623);

    }

    #card{
    background-image: radial-gradient(circle at 47.32% 42.63%, #21297486 0, #432b5557 25%, #2d1b5269 50%, #4e367a6c 75%, #3a2c508a 100%);
}

#card:hover{
  box-shadow: 0px 0pc 10px rgba(255, 255, 255, 0.473);
  scale: 1.1;
}
</style>