<home>
    <h2 class="outfit text-6xl font-bold whitespace-pre-line "> Hola, Soy Didier Borja</h2>
    <p class="outfit text-2xl mt-12">
        <span class="text-[#CCCCCC]">Tecnólogo en
        </span>
        <span class="text-red-400">Análisis y Desarrollo de Software</span> 
        <span class="text-[#CCCCCC]">de Medellín, Colombia. <br>Apasionado por el desarrollo de software e 
        implementación <br> de</span> <span class="text-red-400">soluciones</span> <span class="text-[#CCCCCC]"> únicas, del lado backend.</span>
    </p>

</home>