---
import IconArrow from '../components/icons/IconArrow.astro';
import IconX from '../components/icons/IconX.astro';

export interface Props{
  experience:{
    company:string;
    role:string;
    employmentPeriod:string;
    roleDescription:string;
    keyResponsibilities:[];
    achievements:[];
    technologiesAndTools:[];
  }
}
const {experience} = Astro.props;


---

<modalExperience>

  <button
    data-modal-target="default-modal"
    data-modal-toggle="default-modal"
    class="outfit border-2 p-4 rounded-[20px] ml-3 flex justify-center items-center gap-3"
    type="button"
  >
    Saber más
  <IconArrow/>
  </button>



  <div
    id="default-modal"
    tabindex="-1"
    aria-hidden="true"
    class="hidden overflow-y-auto 
    overflow-x-hidden fixed top-0 right-0 
    left-0 z-50 justify-center items-center 
    w-full md:inset-0 h-[100vh] max-h-[100vh] bg-slate-950/75"
  >
    <div class="relative p-4 w-full max-w-2xl max-h-full">

      <div class="relative bg-white rounded-lg shadow ">


        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
          <h3 class="text-xl font-semibold aoutfit text-black">
            {experience.company}
          </h3>
          <button
            type="button"
            class="text-gray-400 bg-transparent hover:bg-gray-200 
            hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-hide="default-modal"
          >
            <IconX/>
          </button>
        </div>


        <div class="p-4 md:p-5 space-y-4">
          
        </div>
        
      </div>
    </div>
  </div>
</modalExperience>
